@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/open-sans-300.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-400.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/open-sans-600.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/open-sans-700.woff2") format("woff2");
}

/* RESET */

html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ol,ul {
  list-style: none;
}

/* END RESET */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background: #cfe0e4;
  padding: 0;
  margin: 0;
  color: #444;
  overflow-y: scroll;
}
p {
  margin: 0 0 15px;
}
a {
  color: #49B;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}
a.active {
  color: #444;
  cursor: default;
  font-weight: 600;
  text-decoration: none;
}
hr {
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  height: 1px;
  margin: 23px 0;
}

.none {
  display: none;
}
.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.center {
  text-align:center;
}
.small {
  font-size: 0.8rem;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.pageHeader {
  background: #134960;
  color: #fff;
  font-weight: normal;
  height: 63px;
  line-height: 63px;
  margin: 0;
  padding: 0 0 0 50px;
  font-weight: 300;
}
img.headerIcon {
  margin: 19px 5px -2px 0;
  float: right;
}
img.favicon {
  margin: 0 0 -2px 0;
  padding: 0 8px 0 0;
  height: 16px;
  width: 16px;
}

select {
  min-width: 150px;
}
select {
  background: #fff;
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  font-size: 14px;
  border-color: #ccc;
}
input, select, button, .btn {
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
}
textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-color: #c3c3c3;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  padding: 3px 5px;
}
.formRow {
  margin: 15px 0;
}
ul.unorderedList, ol.orderedList {
  padding-left: 20px;
  margin: 7px 0 10px 0;
}
ul.unorderedList li {
  margin: 0 0 3 10px;
  list-style: disc;
}
ol.orderedList li {
  margin: 10px 0 0 10px;
  list-style-type: auto;
}

a.btn {
  text-decoration: none;
}
.btn {
  background: #49B;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
  border: 0;
  font-size: 14px;
}
.btn:hover {
  background: #379;
}
.btn.btnNeg {
  background: #ccc;
  color: #333;
}
.btn.btnNeg:hover {
  background: #aaa;
}
.btn.secondary {
  background: #e3f7fc;
  color: #666;
}
.btn.secondary:hover {
  background: #cbf1fa;
}
.btnDisabled {
  background: #f1f1f1;
  color: #888;
  cursor: default;
}
.btnDisabled:hover {
  background: #f1f1f1;
  color: #888;
}
.lesserText {
  color: #929292;
  font-size: 0.8em;
  font-weight: 300;
}
.hidden {
  visibility: hidden;
}
.mainContent.profiler {
  width: auto;
  display: table;
}
.content.profiler {
  width: auto;
}
.content.profiler div.links {
  margin-top: 1em;
}
.content.profiler div.links a {
  margin: 0 0.5em;
}
.mainContent {
  width: 900px;
  margin: 40px auto;
  color: #444;
  background: #fff;
  overflow: hidden;
}
.contentNav, .content {
  box-sizing: border-box;
  float: left;
  padding: 0 32px 32px;
}
.contentNav {
  width: 240px;
}
.contentNav ul {
  margin: 32px 0 16px;
}
.contentNav li {
  height: 32px;
}
.content {
  border-left: 1px solid #e7e7e7;
  width: 660px;
  min-height: 250px;
}
.contentFull {
  width: 800px;
}
.content h2 {
  /* padding: 0 0 10px 0; */
  margin: 32px 0 16px;
  font-size: 20px;
  font-weight: 600;
}

#donateSection a {
  float: left;
  margin-right: 10px;
}

#heading {
  white-space: nowrap;
  text-align: center;
  font-size: 17px;
  text-shadow: 0 1px 0 white;
  margin: 0 0 8px;
}
.note {
  font-style: italic;
  font-size: 12px;
  background: rgb(255, 247, 202);
  padding: 5px;
  margin-top: 5px;
}
.blocked {
  color: black;
  opacity: 0.7;
}
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 20px;
  width: 350px;
  height: 150px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: none;
}
.windowHeading {
  font-size: 13px;
  font-weight: bold;
  color: #777;
  padding-top: 18px;
  padding-bottom: 4px;
}
.groupLink {
  margin: 0 0 0 10px;
  font-size: 11px;
  font-weight: normal;
}
img {
  padding-right: 10px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table, tr, td {
  padding: 0 20px 0 5px;
  white-space: nowrap;
}

.cbLabel {
  line-height: 20px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}


input[type="checkbox"] {
  position: absolute;
}
input[type="checkbox"], input[type="checkbox"] + label .overlay {
  /* line-height: 20px; */
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  accent-color:  #49B;
  vertical-align: bottom;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
input[type="checkbox"] + label .overlay {
  width: 18px;
  height: 18px;
  margin: 0 12px 0 0;
  border: 1px solid #CCC;
  background: #FFF;
}
input[type="checkbox"]:checked + label .overlay {
  border-color: transparent;
  background: transparent;
}
input[type="checkbox"] + label {
  position: relative;
  padding: 0;
  cursor: pointer;
}
input[type="checkbox"] + label:hover .overlay {
  border-color: #49B;
}
input[type="checkbox"]:checked + label:hover .overlay {
  background: #0000;
}


i.icon-help {
  margin-left: 0.5rem;
}
select {
  outline: 0;
}
select:focus, select:hover, textarea:hover, textarea:focus {
  border-color: #49B;
}
textarea {
  outline: 0;
}


table.tabs {

  table-layout: fixed;
  border-collapse: collapse;
  padding: 0;
  margin-top: 1em;

  th {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bolder;
    vertical-align: middle;
  }

  tr.newrow {
    border-top: 1px dotted;
  }

  td {
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
  }

  td.title {
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


#migrateTabTable {

  tr {
    line-height: 24px;
  }
  th.check {
    text-align: left;
    padding-left: 10px;
  }
  td {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 5px 0 0 0;
  }
  input[type="checkbox"] + label .overlay {
    width: 14px;
    height: 14px;
    margin: 0 14px 3px 0;
  }
  a#checkAll + label {
    padding-left: 10px;
  }

}

/* toggle slider */
div#modeToggle.toggle {
  margin: 0 0 0 .5em;
  /* top: 1px; */
}

div.toggle {

  display: inline-block;
  position: relative;
  top: 50%;
  width: 99px;
  height: 26px;
  margin: 0;

  .slider, .slider-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .slider {
    z-index: 2;
    border-radius: 20px;
    border: 1px solid #CCC;
    transition: 0.3s ease all;
    transition: 0s linear border;
  }
  .checkbox:hover + .slider {
    border: 1px solid #49B;
    transition: 0s linear border;
  }

  .slider-bg {
    border-radius: 20px;
    /* background-color: #EEE; */
    z-index: 1;
  }

  .slider:before {
    content: "Discard";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 52px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    padding: 4px 6px;
    background-color: #49B;
    border-radius: 20px;
    transition: 0.3s ease all;
  }

  .checkbox:checked + .slider:before {
    content: "Suspend";
    left: 32px;
    background-color: #49B;
  }

}


/* tab groups */
span.group {
  color: #fff;
  border-radius: 6px;
  font-size: 0.8em;
  padding: 0px 5px 0;
}

span.group.chrome.grey {
  background: #5f6368
}
span.group.chrome.blue {
  background: #1a73e8;
}
span.group.chrome.red {
  background: #d93025;
}
span.group.chrome.yellow {
  background: #f9ab00;
}
span.group.chrome.green {
  background: #188038;
}
span.group.chrome.pink {
  background: #d01884;
}
span.group.chrome.purple {
  background: #a142f4;
}
span.group.chrome.cyan {
  background: #007b83;
}
span.group.chrome.orange {
  background: #fa903e;
}

span.group.edge.grey {
  background: #706d6b
}
span.group.edge.blue {
  background: #1a73e8;
}
span.group.edge.red {
  background: #c239b3;
}
span.group.edge.yellow {
  background: #986f0b;
}
span.group.edge.green {
  background: #004e8c;
}
span.group.edge.pink {
  background: #d01884;
}
span.group.edge.purple {
  background: #8230ff;
}
span.group.edge.cyan {
  background: #038387;
}
span.group.edge.orange {
  background: #ca5010;
}


/* Automatically use dark mode based on OS settings */
@media (prefers-color-scheme: dark) {

body {
  background:#181818;
  color:#ccc;
}
hr {
  border-top: 1px solid #666;
}
.mainContent {
  color:#ccc;
  background: #222;
}
.content {
  border-left: 1px solid #666;
}
a, a:visited {
  color:#8bf;
}
a.active {
  color: #159;
}
input[type="checkbox"] {
  accent-color:  #159;
}

input[type="checkbox"] + label .overlay {
  background-color: #000C;
}
input[type="checkbox"] + label:hover .overlay {
  border-color: #07d;
}
input[type="checkbox"]:checked + label:hover .overlay {
  border-color: transparent;
}

div.toggle {

  .slider {
    border: 1px solid #666;
  }
  .checkbox:hover + .slider {
    border: 1px solid #07d;
  }

  .slider:before {
    background-color: #159;
  }
  .checkbox:checked + .slider:before {
    background-color: #159;
  }

}

/* input[type="checkbox"] + label {
  background: #222c;
}
input[type="checkbox"] + label:hover {
  background: #222d;
}
input[type="checkbox"]:checked + label {
  background: #2220;
}
input[type="checkbox"]:checked + label:hover {
  background: #2220;
} */
textarea {
  color:#ccc;
  background: #313131;
  border-color: #666;
}
textarea:hover, textarea:focus, select:hover, select:focus, input:hover, input:focus {
  border-color: #07d;
}
select {
  color:#ccc;
  background: #313131;
  border-color: #666;
}
.btn, a.btn {
  background: #159;
  color: #ccc;
}
.btn:hover {
  background: #048;
}
span.group {
  color: #000;
}

span.group.chrome.grey {
  background: #dadce0;
}
span.group.chrome.blue {
  background: #8ab4f8;
}
span.group.chrome.red {
  background: #f28b82;
}
span.group.chrome.yellow {
  background: #fdd663;
}
span.group.chrome.green {
  background: #81c995;
}
span.group.chrome.pink {
  background: #ff8bcb;
}
span.group.chrome.purple {
  background: #c58af9;
}
span.group.chrome.cyan {
  background: #78d9ec;
}
span.group.chrome.orange {
  background: #fcad70;
}

span.group.edge.grey {
  background: #84817e;
}
span.group.edge.blue {
  background: #69a1fa;
}
span.group.edge.red {
  background: #cf87da;
}
span.group.edge.yellow {
  background: #c1a256;
}
span.group.edge.green {
  background: #4a89ba;
}
span.group.edge.pink {
  background: #ee5fb7;
}
span.group.edge.purple {
  background: #b696ff;
}
span.group.edge.cyan {
  background: #4cb4b7;
}
span.group.edge.orange {
  background: #df8e64;
}

}
